* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, serif, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #195128;
    background-image: radial-gradient(ellipse at center, #17882c 1%, #00510f 100%);
    color: #fff;
    padding: 14px 0 0 0;
    text-align: center;
}

a{
    text-decoration: none;
    color: #333;
}

a:hover{
    text-decoration: underline;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

h2 {
    color: #00510f;
    text-align: center;
    margin: 20px 0;
}

.forms {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
    align-content: center;
    align-items: center;
}

form label {
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #195128;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #196b2f;
}

.container {
    width: 80%;
    margin: 10px auto;
}
.center{
    text-align: center;
}

/* Estilo da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1.1em;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* Estilo do cabeçalho da tabela */
table thead tr {
    background-color: #009879;
    color: #333;
    text-align: left;
    font-weight: bold;
}

/* Estilo das linhas e células da tabela */
table th, table td {
    padding: 12px 15px;
    border-bottom: 1px solid #333;
}

/* Cor de fundo das linhas ímpares */
table tr:nth-child(odd) {
    background-color: #fff;
}

/* Cor de fundo das linhas pares */
table tr:nth-child(even) {
    background-color: #fff;
}

/* Hover nas linhas da tabela */
table tbody tr:hover {
    background-color: #f5f3f3;
}

td a {
    color: #333;
    text-decoration: none;
}
td a:hover {
    text-decoration: underline;
}

footer {
    bottom: 0px;
    width: 100%;
    background-color: #195128;
    background-image: radial-gradient(ellipse at center, #0e641e 1%, #00510f 100%);
    color: #fff;
    padding: 14px 0;
    position: relative;
    text-align: center;
    margin-top: 15px;
}
.login{
    position: absolute;
}

footer p {
    margin: 0;
}