body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Cor de fundo clara */
    color: #333; /* Cor do texto principal */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 400px;
    background-color: white; /* Fundo branco para destacar o conteúdo */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.description {
    margin-top: 20px;
    font-size: 16px;
    color: #666; /* Cor cinza suave */
}

.form {
    margin-top: 30px;
}

.form input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #006600; /* Borda verde escura */
    border-radius: 20px;
    background-color: transparent;
    color: #333; /* Texto em cinza escuro */
    font-size: 16px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px; /* Bordas arredondadas */
    font-size: 16px;
    cursor: pointer;
}

.entrar, .cadastrar, .login {
    background-color: #006600; /* Verde escuro */
    color: white; /* Texto branco */
    border: 2px solid #006600;
    border-radius: 20px;
}

.entrar:hover, .cadastrar:hover, .login:hover {
    background-color: #004d00; /* Cor mais escura ao passar o mouse */
}

.recuperar-senha {
    margin-top: 25px;
    display: block;
    text-align: center;
    color: #006600; /* Texto em verde escuro */
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.recuperar-senha:hover {
    text-decoration: underline;
}

.erro {
    color: red; 
    font-size: 12px;   
    margin-top: -10px; 
}
