* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, serif, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding-top: 150px;
}

body.modal-open {
    overflow: hidden; /* Impede a rolagem do corpo */
}

.sobre{
    
    color: #00420c;
}
header {
    background-color: #195128;
    background-image: radial-gradient(ellipse at center, #17882c 1%, #00510f 100%);
    color: #fff;
    padding: 14px 0 0 0;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    transition: top 0.3s;
    z-index: 1000;
}

.header-hidden {
    top: -200px;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: 20px auto;
}

.noticia h2 {
    color: #00510f;
    margin-bottom: 5px;
    line-height: normal;
}
a{
    color: #333;
    text-decoration: none;
}
 a:hover{
    color: #333;
    text-decoration: underline;
}

h3 a:any-link {
    color: #333;
    cursor: pointer;
    text-decoration: none;
}
#email{
    text-decoration: none;
    color:black;
}
#email:hover{
    text-decoration: underline;
}
.center{
    text-align: center;
}
.noticia {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sobretitle{
    margin-top: 25px;
}

footer {
    width: 100%;
    background-color: #195128;
    background-image: radial-gradient(ellipse at center, #0e641e 1%, #00510f 100%);
    color: #fff;
    padding: 14px 0;
    position: relative;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
}

footer p {
    margin: 0;
}

form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
}

form label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #195128;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #196b2f;
    text-decoration: underline;
}

.news-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.news-list li {
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}

.news-list li h3 {
    margin: 0;
    font-size: 1.5em;
}

.news-list li p {
    margin: 5px 0;
    color: #555;
}

#arrumar{
    color: #12722c;
    font-size: 24px;
}

.news-list li a {
    color: #195128;
    text-decoration: none;
    font-weight: bold;
}

.news-list li a:hover {
    text-decoration: underline;
}

.chamativo{
    font-size: 35px;
    margin-bottom: -5px;
    margin-left: -5px;
    text-align: center;
}

.news-content {
    max-width: 70%;
}
/* Container da notícia */
.news-item {
    display: flex;
    margin: 20px auto;
    padding: 20px;
    max-width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo da miniatura do vídeo */
.news-video {
    position: relative;
    margin-right: 20px;
}

.news-video .thumbnail {
    max-width: 150px;
    border-radius: 8px;
    margin-right: 20px;
    cursor: pointer;
}

.video-duration {
    position: absolute;
    bottom: 8px;
    left: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
}

/* Estilo do conteúdo da notícia */
.noticia a{
    font-size: 1.5rem;
    color: #00510f;
    margin-bottom: 10px;
}

.news-content h2 {
    font-size: 36px;
    color: #00510f;
    margin-bottom: -5px;
}

.news-content p {
    font-size: 16px;
    color: #333;
}

/* Modal */
.modal {
    display: none; /* Oculta o modal por padrão */
    position: fixed; /* Fica fixo na tela */
    z-index: 1000; /* Acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Permite rolagem se necessário */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
}

.modal-content {
    background-color: #fff; /* Fundo do conteúdo */
    margin: 2% auto; /* Centraliza o conteúdo */
    padding: 20px; /* Espaçamento interno */
    border: 1px solid #888; /* Borda do conteúdo */
    width: 80%; /* Largura do conteúdo do modal */
    max-height: 90%; /* Limite máximo de altura */
    overflow-y: auto; /* Permite rolagem vertical */
}

.modal-content iframe {
    width: 100%;
    height: 400px;
}

.close {
    position: relative;
    margin: auto;
    font-size: 25px;
    color: #00420c;
    cursor: pointer;
    text-align: center;
}
.close:hover {
    text-decoration: underline;
    color: #12722c;
}

/* Estilo do overlay */
.overlay {
    display: none; /* Esconder o overlay por padrão */
    position: fixed; /* Fica fixo na tela */
    z-index: 999; /* Abaixo do modal, mas acima do conteúdo da página */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
}

.modal-open {
    overflow: hidden; /* Impede a rolagem da página de fundo */
}
.news-video-title{
    text-align: center;
    color: #00510f;
    font-weight: bold;
    margin: 0;
}

@media (max-width: 768px) {
    .news-item {
        flex-direction: column; /* Alinha os itens em coluna no mobile */
        align-items: flex-start;
    }

    .news-video img {
        max-width: 100%;
        margin: 0 0 10px 0;
    }

    .news-content {
        max-width: 100%;
        text-align: left;
    }

    .news-content h2 {
        font-size: 36px;
    }
    
    .news-content p {
        font-size: 16px;
    }
    body {
        padding-top: 50%; /* Evita que o conteúdo fique oculto pelo header fixo */
    }
    .header-hidden {
        top: -150px;
    }
    header h1{
        font-size: 20px;
    }
}

/* Estilos para o container principal que centraliza o conteúdo */
.noticia-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.noticia-info {
    text-align: left; /* Centraliza o conteúdo da div */
}
.noticia-info img {
    max-width: 100%; /* Limita a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Necessário para centralizar com margin */
    margin-left: auto; /* Margens automáticas para centralização */
    margin-right: auto; /* Margens automáticas para centralização */
    margin-bottom: 30px;
}